    <!DOCTYPE html>
    <html>
        <head>
            <title>CORA Emulator</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" href="{{ url_for('static', filename='img/Portal.ico') }}" type="image/x-icon" />
            <!-- Bootstrap -->
            <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
        </head>
        <body>
            <div class ="container">
                <div class="hero-unit">
                    <h1>CORA Emulator</h1>
                </div>
                <div class="row">
                    <div class="span12">
                        <h1>Is a restriction required for title number {{ titlenumber }}?</h1>
                    </div>    
                    <div class="span1">
                        <p><a class="btn btn-primary btn-large" href="">Yes</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <p><a class="btn btn-primary btn-large" href="">No</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h1>Don't know? Add a restriction by default and contact client.</h1>
                    </div>

                        <div class="span2">
                            <p><a class="btn btn-primary btn-large" href="/JPLquery/{{index}}">Add by default</a></p>
                        </div>

                </div>
            </div>
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        </body>
    </html>



